<div id="{0}-card" class="walletCard">
    <div class="card-header">
        <div class="d-flex flex-row justify-content-between">
            <div><small>{1}&nbsp;&nbsp;&nbsp;&nbsp;</small></div>
            <div><button type="button" onclick="handleWalletDelete('{2}')" class="btn-close"
                    aria-label="Close"></button></div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center col-md-12"><div class="spinner-border" role="status"></div></div>
            <div class="card-balances"  style="display: none;">
                <div class="d-flex flex-row align-items-center">
                    <div class="col-md-6 flex-fill text-center">
                        <div>
                            <h1 class="card-text">
                                <div class="balance"></div>
                            </h1>
                        </div>
                        <div>
                            <small class="text-muted">{3}</small>
                        </div>
                    </div>
                    <div class="col-md-6 flex-fill text-center" style="border-left: 1px solid lightgray">
                        <div>
                            <h1 class="card-text">
                                <div class="balance-usd"></div>
                            </h1>
                        </div>
                        <div>
                            <small class="text-muted">usd</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>