<div id="{0}-card" class="walletCard">
    <div class="card-header">
        <div class="d-flex flex-row justify-content-between">
            <div><small>{1}&nbsp;&nbsp;&nbsp;&nbsp;</small></div>
            <div><button type="button" onclick="handleWalletDelete('{2}')" class="btn-close"
                    aria-label="Close"></button></div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-text">
                <div class="spinner-border" role="status"></div>
            </h2>
        </div>
    </div>
    <div class="card-footer"><small class="text-muted">{3}</small></div>
</div>