<div id="{3}-card" class="walletCard col-md-6 col-lg-4 col-xl-3" onclick="loadWalletDetails('{1}')" title="Click here to open the wallet details.">
    <div class="card">
        <div class="card-header">
            <div class="d-flex flex-row justify-content-between">
                <div>
                    <img style="height: 30px; width: 30px" src="{2}" class="card-img">
                    &nbsp;&nbsp;<b>{0}</b>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center col-md-12"><div class="spinner-border" role="status"></div></div>
            <div class="card-balances"  style="display: none;">
                <div class="d-flex flex-row align-items-center">
                    <div class="col-md-6 flex-fill text-center" title="Wallet balance in coins.">
                        <div>
                            <h2 class="card-text">
                                <div class="balance"></div>
                            </h2>
                        </div>
                        <div>
                            <small class="text-muted">{4}</small>
                        </div>
                    </div>
                    <div class="col-md-6 flex-fill text-center" style="border-left: 1px solid lightgray" title="Wallet balance in USD.  A '-' indicates that the coin price isn't available.">
                        <div>
                            <h2 class="card-text">
                                <div class="balance-usd"></div>
                            </h2>
                        </div>
                        <div>
                            <small class="text-muted">usd</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex flex-row justify-content-between">
                <div>
                    <small class="text-muted" title="The change in balance over the last 24 hours">Chg:&nbsp; 
                        <span class="balanceChange"></span>
                        <span class="balanceChangeSymbol"></span>
                    </small>
                </div>
                <div>
                    <small class="text-muted">
                        <span id="walletCount"></span>
                        <span id="walletCountLabel"></span>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>