<div id="{0}-card" class="walletCard">
    <div class="card">
        <div class="card-header">
            <div class="d-flex flex-row justify-content-between">
                <div id="{4}-card-label" class="col-sm-10"><small>{1}&nbsp;&nbsp;&nbsp;&nbsp;</small></div>
                <div id="{5}-card-label-edit" style="display: none" class="col-sm-10">
                    <input type="text" style="width: 500px; height: 25px" name="Label" value="" id="{6}-card-label-edit-text-box" placeholder="Enter new label." class="form-control" required>
                 </div>

                 <div id="{7}-card-label-action" style="display: none" class="justify-content-end">
                    <nobr>
                       <i class="fas fa-check" onclick="saveLabelUpdate('{8}');" title="Click to Save"></i>&nbsp;
                       <i class="fas fa-times" onclick="hideEditBox('{9}');" title="Click to Cancel"></i>
                    </nobr>
                 </div>
                <div id="{14}-card-action" class="justify-content-end">
                    <i class="fa fa-pencil" onclick="displayEditBox('{10}');" title="Update the Name"></i> &nbsp;
                    <i class="fas fa-paste" onclick="copyWalletAddress('{11}');" title="Copy Address to the Clipboard"></i> &nbsp;
                    <i class="fas fa-times" onclick="handleWalletDelete('{12}');" title="Delete this Wallet"></i>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center col-md-12"><div class="spinner-border" role="status"></div></div>
            <div class="card-balances"  style="display: none;">
                <div class="d-flex flex-row align-items-center">
                    <div class="col-md-5 flex-fill text-center">
                        <div>
                            <h1 class="card-text">
                                <div class="balance"></div>
                            </h1>
                        </div>
                        <div>
                            <small class="text-muted">{3}</small>
                        </div>
                    </div>
                    <div class="col-md-7 flex-fill text-center" style="border-left: 1px solid lightgray">
                        <div>
                            <h1 class="card-text">
                                <div class="balance-currency"></div>
                            </h1>
                        </div>
                        <div>
                            <small id="balance-currency-label" class="text-muted"></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>