body.dark-mode {
   background: #333;
   color: white;
}

body.light-mode {
   background: #ddd;
   color: black;
}

div.card-body.dark-mode {
   background: #333;
   color: white;
}

div.card-body.light-mode {
   background: #ddd;
   color: black;
}

div.card-header.dark-mode, 
div.card-footer.dark-mode {
   background: rgb(77, 77, 77);
   color: white;
}

div.card-header.light-mode, 
div.card-footer.light-mode {
   background: rgb(208, 208, 208);
   color: black;
}

#wallet-list {
   height: 500px;
   overflow-y: auto;
}

.card-footer {
   padding-top: 1px;
   padding-bottom: 0.1rem;
   margin-bottom: 0.5rem;
   max-height: 35px;
}

.card-header {
   padding-top: 0.1rem;
   padding-bottom: 0.1rem;
   padding-left: 0.25rem;
}

.walletCard {
   cursor: pointer;
}

.card-body {
   padding: 0.5rem;
}

small {
   font-variant: small-caps;
}

h2 {
   /*font-size: 200%;/*calc(1.0em + 2vw);*/
   font-size: 1.8vw;
}