body.dark-mode,
div.card-body.dark-mode,
div.dropdown-content.dark-mode,
div.dropdown-content.dark-mode button {
   background: #121212;
   color: lightgrey;
}

div.alert.alert-info.dark-mode,
div.card-header.dark-mode, 
div.card-footer.dark-mode,
div.alert.dark-mode {
   background: rgb(40, 40, 40);
   color:lightgray;
}

div.card.dark-mode,
div.dropdown-content.dark-mode,
div.alert.dark-mode {
   border: 1px solid rgb(50, 50, 50);
}

#wallet-list {
   height: 500px;
   overflow-y: auto;
}

.card-footer {
   padding-top: 1px;
   padding-bottom: 0.1rem;
   max-height: 35px;
}

.card {
   margin-bottom: 0.5rem;
   
}

.card-header {
   padding-top: 0.1rem;
   padding-bottom: 0.1rem;
   padding-left: 0.25rem;
}

.walletCard, i , #autoRefreshCheck{
   cursor: pointer;
}

.card-body {
   padding: 0.5rem;
}

small {
   font-variant: small-caps;
}

.walletCard {
   width: 350px;
}

.small-caps {
   font-variant: small-caps;
}

/* Dropdown Button */
 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 /* Links inside the dropdown */
 .dropdown-content button {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 
 /* Change color of dropdown links on hover */
 .dropdown-content button:hover {
   background-color: #ddd !important;
   color: black !important;   
}
 
 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {display: block;}
 
 /* Change the background color of the dropdown button when the dropdown content is shown */
 /*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/